<%= link_to event_path(event) do %>
  <div class="media border p-5">
    <img src="<%= event.image_url %>" class="align-self-center mr-3" width="300">
    <div class="media-body">
      <h4 class="mt-0"><%= event.title %></h4>
      <h5 class="mt-0"><%= event.start_at %> <%= "to #{event.end_at}" if event.end_at.present? %></h5>
      <p><%= event.description %></p>
    </div>
  </div>
<% end %>
